@media only screen and (max-width: 380px) {
  .main {
    width: 300px !important;
  }
  textarea {
    border: 2px solid var(--primary-color);
    width: 300px;
  }
  .note .tools {
    width: 300px;
  }
  .note {
    margin-left: 14px;
  }
}
